<main>
  <p>Hello {{name}}</p>
  <p>
    Here is your Euphoria password reset link
    <a href='{{url}}'>{{url}}</a>
  </p>

  <p>If you did not request this email you can safely ignore it.</p>
</main>